{% extends 'base.html.twig' %}

{% block title %}Issue index{% endblock %}

{% block body %}
    <h1>Issue index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Priority</th>
                <th>State</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td>{{ issue.id }}</td>
                <td>{{ issue.title }}</td>
                <td>{{ issue.description }}</td>
                <td>{{ issue.priority }}</td>
                <td>{{ issue.state }}</td>
                <td>
                    <a href="{{ path('issue_show', {'id': issue.id}) }}">show</a>
                    <a href="{{ path('issue_edit', {'id': issue.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('issue_new') }}">Create new</a>
{% endblock %}
