{% extends 'base.html.twig' %}

{% block title %}Issue{% endblock %}

{% block body %}
    <h1>Issue</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ issue.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ issue.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ issue.priority }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ issue.state }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('issue_index') }}">back to list</a>

    <a href="{{ path('issue_edit', {'id': issue.id}) }}">edit</a>

    {{ include('issue/_delete_form.html.twig') }}
{% endblock %}
